$color-primary: #ff6633;
$color-secondary: #232323;
$color-tertiary: #c4c1c1;
$color-light: #F7F9FA;

$font-primary: 'Encode Sans', sans-serif;
$font-secondary: "boxicons", sans-serif;
    

$transition-link: 0.5s ease-in-out;

//Mapas

$colors: (
    orange: $color-primary,
    black: $color-secondary,
    cream: $color-tertiary,
    white: $color-light,
);
  

