/*Footer*/

footer {
    height: 300px;
    padding-inline: 5rem;
    text-align: center;
    color: $color-secondary;

    img{
        display: inline-block;   
        max-width: 50px;
        margin-bottom: 2rem;

        &:hover {
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;            
            animation-delay: 0.1s;
        }
    }
}

