.container {

    display: inline-block;
    padding-left: 20rem;
    padding-right: 20rem;   

    .title {
        padding-bottom: 2rem;


        h5 {
          font-size: larger;  
        }
    }

    .text {
        padding-bottom: 2rem;
    }
        
}

