/*PÁG y Secciónes CONTACTO*/


.contact {
    @include flex-all-center;
    padding-block: 10rem;      
    height: auto;
    background-color: $color-primary;
    color: $color-secondary;
    

    h1 {
        color: $color-light;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
               
        
        .title {
            padding-bottom: 2rem;
        }
    
        .text {
            padding-bottom: 2rem;
        }

        .form {
            .mail-area {
                width: 50vw;
            }

            .form-control {
                width: 50vw;
            }
        }
    }    
    
}

/*PÁG CONTACTO únicamente*/
.container.form {
    text-align: start; 
}

    



