/*PÁG SERVICIOS*/

.service-title {
    padding-top: 5rem;      
    color: $color-secondary;
    background-color: $color-primary;
    height: 500px;
    text-align: center;

    p{         
        color: $color-light;    
    }
}


/*PÁG SERVICIOS Contraste con fondo naranja*/

.sub-titulo.service h2 {
    color: $color-light;
}

#contactService {    
    margin-bottom: 5rem;
    background-color: $color-light;
    
    a {
        color: $color-secondary;
        transition: $transition-link;

        &:hover {
            color: $color-primary;
        }
    }
}





